.active-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.inactive-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
}